*{
    box-sizing: border-box;
}
.app{
    padding: 3.5rem 0 0 0;
}

h1 , h2 , h3 {
    margin: 0;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
}



.img-handler{
    display: flex;
    width: 100%;
    max-height: 500px;
    animation: intro 1.5s 1;

}
.intro-data ,.about-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 45%;
    animation: data 1.5s 1;
}

img{
    width: 100%;
    border-radius: 2rem;
    max-height: 100%;
    object-fit: scale-down;
}



@keyframes intro {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes data {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}





.container{
    display: flex;
    max-width: 950px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}



@media screen and (max-width:650px){
    .container{
        flex-direction: column;
        gap: 2rem;
    }
}


/* services  body must be background of #eff0f4*/
.container-services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 40px 60px;
}

.container .drops{
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    animation: drop 1s 1 ;
}

@keyframes drop {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}
.container .drops:nth-child(1){  
    border-radius: 56% 44% 60% 40% / 46% 30% 70% 54%  ; 
}
.container .drops:nth-child(2){  
    border-radius: 32% 68% 29% 71% / 60% 53% 47% 40% ; 
}
.container .drops:nth-child(3){ 
    border-radius:72% 28% 49% 51% / 26% 66% 34% 74%  ; 
}


.container .drops:hover{
    border-radius: 50%;
}
.container .drops::before{
    content: "";
    position: absolute;
    top:35px;
    left: 70px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}
.container .drops::after{
    content: "";
    position: absolute;
    top:75px;
    left: 80px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}
.container .drops .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 12px;
    height: 80%;
}
.content h2{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
    display: flex;
    justify-content: center;
    align-items: center;


}
.Dark .drops::before{
    background-color:  #282D35;
}
.Dark .drops::after{
    background-color:  #282D35;
}
.Dark .content h2{
    background-color:  #282D35;
}
.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}
.skill h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    
}
.skill{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.skill-progress{
    background-color: #746a6a;
    width: 100%;
    height: 7px;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;

}
.skill-border{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(20, 143, 143);
    animation: percent 1.5s 1 ;
}
.skill-percent{
    position: absolute;
    top: -30px;
    right: 0;

}
@keyframes percent{
    0%{
        width: 0;
    }
    100%{
        transform: translateX(0);
    }
}