footer{
    background-color: teal;
    border-radius: 5px 5px  0 0 ;
}
footer.Dark{
    background-color: rgba(17, 17, 17, 0.885)
}
.footer-links , .footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

footer a {
    color: rgba(255, 255, 255, 0.87);;
}
footer a:hover {
    color: cyan
}
footer.Dark a{
    color: rgba(255, 255, 255, 0.87);
}
footer.Dark a:hover{
color:rgb(20, 143, 143);;
}