header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3.5rem;
    background-color: teal;
    z-index: 1000;
    animation: down 1s 1;
    border-radius: 0 0 5px 5px ;

}
nav{
    height: 100%;
}
header.Dark{
    background-color: rgba(17, 17, 17, 0.885);
    background-color: rgba(17, 17, 17);
    color: rgba(255, 255, 255, 0.87);
    z-index: 1000;
    
}
nav a:hover , nav a.active {
    color: cyan;
    box-shadow: 0 0 5px cyan;
    border-radius: 5px;
}

@keyframes down {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

a {
    text-decoration: none;
    padding: 10px 8px;
}

.wide-header {
    display: flex;
    max-width: 950px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.slogan {
    color: cyan;
    letter-spacing: -5px;
    padding: 8px 10px ;
    margin: 0;
}

.fa-solid {
    font-size: 20px;
}

.fa-solid:hover {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.1s;
}

.Light .fa-sun {
    display: none;
}

.fa-sun {
    color: orange;
}

.Dark .fa-moon {
    display: none;
}

.burger-menu:hover{
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
}

.burger-menu , .mobile-header-nav ,.mobile-menu{
    display: none;
}
.fa-circle-xmark{
    display: none;
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
}
.fa-circle-xmark:hover{
    scale: 1.1;
    color: rgb(170, 208, 214);
}

@media screen and (max-width:650px) {
    .wide-header {
        display: none;
    }
    .mobile-header-nav{
        display: flex;
        max-width: 950px;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    
    .burger-menu{
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .mobile-menu{
        margin: 0;
        position: absolute;
        display: flex;
        padding: 4rem 2rem;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 60%;
        justify-content: space-between;
        background-color: #21222A;
        transition: .4s;
    }
    
}
/* .open-menu{
    right: 0;
} */