header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3.5rem;
    background-color: aqua;
    
    z-index: 100;
    animation: down 1s 1;
}
header.Dark{
    background-color: #21222A;
    /* background-color: #203f4f; */
}

@keyframes down {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

a {
    text-decoration: none;
}

.wide-header {
    display: flex;
    max-width: 950px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.slogan{
    letter-spacing: -5px;
}

.fa-solid {
    font-size: 20px;
}

.fa-solid:hover {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.1s;
}

.Light .fa-sun {
    display: none;
}

.fa-sun {
    color: orange;
}

.Dark .fa-moon {
    display: none;
}

.burger-menu:hover{
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
}

.burger-menu , .mobile-header-nav ,.mobile-menu{
    display: none;
}
.fa-circle-xmark{
    display: none;
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: rgb(95, 37, 150);
}
.fa-circle-xmark:hover{
    scale: 1.1;
    color: rgb(140, 104, 172);
}

@media screen and (max-width:650px) {
    .wide-header {
        display: none;
    }
    .mobile-header-nav{
        display: flex;
        max-width: 950px;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    
    .burger-menu{
        display: block;
        cursor: pointer;
    }
    .mobile-menu{
        margin: 0;
        position: absolute;
        display: flex;
        padding: 4rem 2rem;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 60%;
        justify-content: space-between;
        background-color: #21222A;
        transition: .4s;
    }
    
}
.open-menu{
    right: 0;
}