body {
  margin:3.5rem 0 0 0;
  background-color:  #eff0f4;
  background-color:  #282D35;
}

/* color: #61DAFB;  when dark mode for text*/
/* background-color: #21222A;  when dark mode for nav*/
/* background-color: #282D35;  when dark mode for body*/