body {
  margin:3.5rem 0 0 0;
  background-color:  #eff0f4;
}
.Dark {
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #282D35;
  color: #61DAFB;
}

/* color: #203f4f; pretty cool color*/
/* color: #61DAFB;  when dark mode for text*/
/* background-color: #21222A;  when dark mode for nav*/
/* background-color: #282D35;  when dark mode for body*/